.nav-Painel {
    padding: 5px;

    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40px;

    text-align: center;
    z-index: 1;
}

.nav-a,
.nav-a:link,
.nav-a:visited,
.nav-pesquisar {
    background-color: #ffffff00;
    font-size: 16px;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-width: 0px;
    border-radius: 360px;
}

.nav-a:hover,
.nav-a:active,
.nav-pesquisar:hover,
.nav-pesquisar:active,
.nav-pesquisar:focus {
    background-color: #c9c9c98f;
    outline: none;
}

.nav-pesquisar {
    text-align: left !important;
}