.nav-Painel-nav,
.nav-Painel-titulo {
    padding: 5px;

    position: fixed;

    text-align: center;
    z-index: 1;

    /* neumorphism */
    border-radius: 32px;
    background: #f3f3f3;
    box-shadow: 27px 27px 25px #36363675;
}

.nav-Painel-nav {
    transform: translate(-50%, -50%);
    width: 475px;
    left: 50%;
    top: 40px;
}

.nav-Painel-titulo {
    padding-right: 10px;
    padding-left: 10px;
    left: 10px;
    bottom: -10px;
}

.nav-a,
.nav-a:link,
.nav-a:visited,
.nav-pesquisar {
    background-color: #ffffff00;
    font-size: 16px;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-width: 0px;
    border-radius: 360px;
}

.nav-a:hover,
.nav-a:active,
.nav-pesquisar:hover,
.nav-pesquisar:active,
.nav-pesquisar:focus {
    background-color: #c9c9c95c;
    outline: none;
}

.nav-pesquisar {
    text-align: left !important;
}

/* CSS PARA CELULAR :D */
@media only screen and (orientation: portrait) {

    .nav-Painel-nav {
        transform: translate(0%, -50%);
        top: 25px;
        width: auto;
        left: 0%;
        right: 0%;

        /* neumorphism */
        border-radius: 0px 0px 20px 20px;
    }

    .nav-Painel-titulo {
        left: 0px;
        bottom: -20px;
        opacity: .50;
        border-radius: 0px 15px 0px 0px;
    }

    .nav-Painel-titulo:hover {
        opacity: 1;
    }
}