/* 
    PrevisaoResumida = pr
*/

a {
    text-decoration: none;
}

.Painel-PrevisaoResumida {
    min-width: 200px;
    min-height: 135px;
}

.Painel-PrevisaoResumida h1,
.Painel-PrevisaoDetalhada h1 {
    margin: 30px 0px 30px 0px;
    line-height: 0px;
    font-size: 80px;
}

.Painel-PrevisaoResumida h2,
.Painel-PrevisaoDetalhada h2,
h3 {
    margin: 15px 0px 15px 0px;
    line-height: 0px;
}

.Painel-PrevisaoDetalhada h3,
.Painel-PrevisaoResumida h3 {
    margin-top: 25px;
}

.previsao-emoji {
    font-size: 36px !important;
    margin-bottom: 25px !important;
    margin-top: -15px !important;
}

.Painel-PrevisaoDetalhada {
    min-width: 200px;
    min-height: 135px;
    border-radius: 32px;
    background: #f3f3f3;
    box-shadow: 27px 27px 25px #36363675;
}

.Painel-PrevisaoDetalhada:hover,
.Painel-PrevisaoResumida:hover {
    background: #ffffff;
}

.pd-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5vw 5vw;
    grid-template-areas:
        ". . ."
        ". . .";

    padding: 5px;

    position: absolute;
    transform: translate(-50%, -50%);

    left: 50%;
    top: 50%;

    text-align: center;
    z-index: 0;
}

/* CSS PARA CELULAR :D */
@media only screen and (orientation: portrait) {
    .pd-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px 25px;
        grid-template-areas:
            ". ."
            ". ."
            ". .";

        top: 55%;

        border-radius: 32px;
        z-index: 2;

        background: #ffffff3b;
        backdrop-filter: blur(6px);
    }

    .pd-container:hover {
        background: #f3f3f3;
    }

    .Painel-PrevisaoDetalhada {
        border-radius: none;
        background: #00000000;
        box-shadow: none;
    }
}