body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, input[type=text]{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #333333;
}

.transition{
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.neumorphism {
    border-radius: 32px;
    background: #f3f3f3;
    box-shadow:  27px 27px 25px #36363675;
}

.painel-center{
    padding: 5px;

    position: fixed;
    transform: translate(-50%, -50%);

    left: 50%;
    top: 50%;
  
    text-align: center;
    z-index: 0;
}

.center{
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}